.ThemeButton {
    position: absolute;
    top: 960px;
    left: 550px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #8D8D8D;
}
.light {
    background-color: white;
}
.dark {
    background-color: black;
}