.RegistrationPage {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
}
.Link {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    font-family: Poppins , sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: black;
    cursor: pointer;
    text-decoration: none;
}